<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:composite="http://java.sun.com/jsf/composite">
    
    <composite:interface>
    	<composite:attribute name="idx" default="0"/>
    </composite:interface>
    
    <composite:implementation>
		<p:tabMenu activeIndex="#{cc.attrs.idx}">
		    <p:menuitem value="Início" outcome="Inicio" icon="ui-icon-home">
		        <f:param name="i" value="0" />
		    </p:menuitem>
		    <p:menuitem value="Consulta de Pessoas" outcome="ConsultaPessoa" icon="ui-icon-search">
		        <f:param name="i" value="1" />
		    </p:menuitem>
		    <p:menuitem value="Cadastro de Pessoas" outcome="CadastroPessoa" icon="ui-icon-plus">
		        <f:param name="i" value="2" />
		    </p:menuitem>
		    <p:menuitem value="Consulta de Lançamentos" outcome="ConsultaLancamento" icon="ui-icon-search">
		        <f:param name="i" value="3" />
		    </p:menuitem>
		    <p:menuitem value="Cadastro de Lançamentos" outcome="CadastroLancamento" icon="ui-icon-plus">
		        <f:param name="i" value="4" />
		    </p:menuitem>
		</p:tabMenu>
    </composite:implementation>
</html>