<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:lc="http://java.sun.com/jsf/composite/customizados">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Novo lançamento</title>
	</h:head>
	<h:body>
		<div class="ui-fluid">
			<lc:Menu idx="4" />
			<h1><p:outputLabel value="Novo lançamento" /></h1>
		
			<h:form id="frm" style="display: block; text-align: center">				
				<p:separator />
				<p:messages showDetail="false" showSummary="true" autoUpdate="true" closable="true"/>
	
				<p:panelGrid columns="2" style="margin: 0 auto">
					<p:outputLabel value="Tipo"/>
					<p:selectOneRadio value="#{cadastroLancamento.lancamento.tipo}"
							required="true" label="Tipo do lançamento">
						<f:selectItems value="#{cadastroLancamento.tiposLancamentos}"
							var="tipoLancamento" itemLabel="#{tipoLancamento.descricao}"
							itemValue="#{tipoLancamento}" />
					</p:selectOneRadio>
					
					<p:outputLabel value="Pessoa"/>
					<p:selectOneMenu value="#{cadastroLancamento.lancamento.pessoa}"
							required="true" label="Pessoa">
						<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
						<f:selectItems value="#{cadastroLancamento.pessoas}"
							var="pessoa" itemValue="#{pessoa}" itemLabel="#{pessoa.nome}"/>
					</p:selectOneMenu>
					
					<p:outputLabel value="Descrição"/>
					<p:inputText size="60" value="#{cadastroLancamento.lancamento.descricao}" 
						required="true" label="Descrição" />
					
					<p:outputLabel value="Valor"/>
					<p:inputText size="60" value="#{cadastroLancamento.lancamento.valor}" 
						required="true" label="Valor">
						<f:convertNumber locale="pt_BR" maxFractionDigits="2" minFractionDigits="2" />
						<f:validateDoubleRange minimum="0" />
					</p:inputText>
					
					<p:outputLabel value="Data de vencimento" />
					<p:inputText size="60" value="#{cadastroLancamento.lancamento.dataVencimento}" 
						required="true" label="Data de vencimento">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					
					<p:outputLabel value="Pago"/>
					<p:selectOneRadio required="true" label="Situação"
							value="#{cadastroLancamento.lancamento.pago}">
						<f:selectItem itemLabel="Sim" itemValue="true" />
						<f:selectItem itemLabel="Não" itemValue="false" />
					</p:selectOneRadio>
					
					<p:outputLabel/>
					<p:commandButton value="Cadastrar" action="#{cadastroLancamento.cadastrar}" update="@form" />
				</p:panelGrid>
			</h:form>
		</div>
	</h:body>
</html>



