<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:lc="http://java.sun.com/jsf/composite/customizados">
 
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>JSF 2.0 Greeting</title>
   		<h:outputStylesheet library="css" name="custom.css"/>
	</h:head>
	<h:body>
		
		<div class="ui-fluid">
			<lc:Menu idx="1" />
			<h1><p:outputLabel value="Pessoas" /></h1>
			
			<h:form id="frm">
				<p:separator />
				<p:messages showDetail="false" showSummary="true" closable="true"><p:autoUpdate /></p:messages>
				
				<p:dataTable var="pessoa" value="#{consultaPessoa.pessoas}" reflow="true">
						
					<p:column>
						<f:facet name="header">Nome</f:facet>
						<h:outputText value="#{pessoa.nome}"/>
					</p:column>
					
					<p:column>
						<p:commandLink action="EditaPessoa" style="margin-right: 10px">
							<p:graphicImage value="/imagens/editar.png"/>
							<f:setPropertyActionListener 
								target="#{editaPessoa.pessoaSelecionada}" value="#{pessoa}"
							/>
						</p:commandLink>
						<p:commandLink action="#{consultaPessoa.remover(pessoa.id)}" update="@form">
							<p:graphicImage value="/imagens/excluir.png"/>
						</p:commandLink>
					</p:column>
				</p:dataTable>
			</h:form>
		</div>			
	</h:body>
</html>