<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:lc="http://java.sun.com/jsf/composite/customizados">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Lançamentos</title>
		
		<h:outputStylesheet library="css" name="custom.css"/>
	</h:head>
	<h:body>
		<div class="ui-fluid">
			<lc:Menu idx="3" />
			<h1><p:outputLabel value="Lançamentos" /></h1>
	
			<h:form id="frm">
				<p:separator />
				<p:messages showDetail="false" showSummary="true" closable="true"><p:autoUpdate /></p:messages>
	
				<p:dataTable var="lancamento" value="#{consultaLancamento.lancamentos}" reflow="true"
					width="100%" styleClass="grid" headerClass="cabecalho" rowClasses="cor-sim, cor-nao"
					columnClasses="tipo, pessoa, descricao, valor, vencimento, pagamento, situacao, acoes">
					
					<p:column styleClass="centered">
					<f:facet name="header">Receita/Despesa</f:facet>
						<h:graphicImage value="/imagens/despesa.png" rendered="#{lancamento.tipo eq 'DESPESA'}"/>
						<h:graphicImage value="/imagens/receita.png" rendered="#{lancamento.tipo eq 'RECEITA'}"/>
					</p:column>
					
					<p:column>
						<f:facet name="header">Pessoa</f:facet>
						<h:outputText value="#{lancamento.pessoa.nome}"/>
					</p:column>
					
					<p:column>
						<f:facet name="header">Descrição</f:facet>
						<h:outputText value="#{lancamento.descricao}"/>
					</p:column>
					
					<p:column>
						<f:facet name="header">Valor</f:facet>
						<h:outputText value="#{lancamento.valor}" styleClass="despesa">
							<f:convertNumber type="currency" currencySymbol="R$" locale="pt_BR" />
						</h:outputText>
					</p:column>
				
					<p:column>
						<f:facet name="header">Vencimento</f:facet>
						<h:outputText value="#{lancamento.dataVencimento}">
							<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
						</h:outputText>
					</p:column>
					
					<p:column>
						<f:facet name="header">Pago</f:facet>
						<h:graphicImage value="/imagens/pago.png" rendered="#{lancamento.pago eq 'true'}"/>
						<h:graphicImage value="/imagens/nao-pago.png" rendered="#{lancamento.pago eq 'false'}"/>
					</p:column>

					<p:column>
					<f:facet name="header">Ações</f:facet>
						<p:commandLink action="EditaLancamento" style="margin-right: 10px">
							<p:graphicImage value="/imagens/editar.png"/>
							<f:setPropertyActionListener 
								target="#{editaLancamento.lancamentoSelecionado}" value="#{lancamento}"
							/>
						</p:commandLink>
						<p:commandLink action="#{consultaLancamento.remover(lancamento.id)}" update="@form">
							<p:graphicImage value="/imagens/excluir.png"/>
						</p:commandLink>
					</p:column>
				</p:dataTable>
			</h:form>
		</div>
	</h:body>
</html>