<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:lc="http://java.sun.com/jsf/composite/customizados">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Editar pessoa</title>
		
		<h:outputStylesheet library="css" name="sistema.css"/>
	</h:head>
	<h:body>
		<div class="ui-fluid">
			<lc:Menu idx="2" />
			<h1><p:outputLabel value="Editar pessoa" /></h1>
	
			<h:form id="frm" style="display: block; text-align: center">
				<p:separator />
				<p:messages showDetail="false" showSummary="true" closable="true"><p:autoUpdate /></p:messages>
				
				<p:panelGrid columns="2" style="margin: 0 auto">
					<p:outputLabel value="Nome"/>
					<p:inputText size="60" value="#{editaPessoa.pessoaSelecionada.nome}" required="true" label="Nome"/>
						
					<p:outputLabel/>
					<p:commandButton value="Atualizar" action="#{editaPessoa.atualizar}" update="@form" />
				</p:panelGrid>
			</h:form>
		</div>
	</h:body>
</html>