<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:lc="http://java.sun.com/jsf/composite/customizados">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Editar lancamento</title>
		
		<h:outputStylesheet library="css" name="custom.css"/>
	</h:head>
	<h:body>
		<div class="ui-fluid">
			<lc:Menu idx="4" />
			<h1><p:outputLabel value="Editar lancamento" /></h1>
	
			<h:form id="frm" style="display: block; text-align: center">
				<p:separator />
				<p:messages showDetail="false" showSummary="true" closable="true"><p:autoUpdate /></p:messages>
				
				<p:panelGrid columns="2" style="margin: 0 auto">
					<p:outputLabel value="Tipo"/>
					<p:selectOneRadio required="true" label="Tipo do lançamento"
							value="#{editaLancamento.lancamentoSelecionado.tipo}">
						<f:selectItems value="#{editaLancamento.tiposLancamentos}"
							var="tipoLancamento" itemLabel="#{tipoLancamento.descricao}"
							itemValue="#{tipoLancamento}" />
					</p:selectOneRadio>
					
					<p:outputLabel value="Pessoa"/>
					<p:selectOneMenu required="true" label="Pessoa"
							value="#{editaLancamento.lancamentoSelecionado.pessoa}">
						<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
						<f:selectItems value="#{editaLancamento.pessoas}"
							var="pessoa" itemValue="#{pessoa}" itemLabel="#{pessoa.nome}"/>
					</p:selectOneMenu>
				
					<p:outputLabel value="Descrição"/>
					<p:inputText size="60" required="true" label="Descrição"
						value="#{editaLancamento.lancamentoSelecionado.descricao}"/>
						
					<p:outputLabel value="Valor"/>
					<p:inputText size="60" required="true" label="Valor"
						value="#{editaLancamento.lancamentoSelecionado.valor}">
						<f:convertNumber type="currency" currencySymbol="R$" locale="pt_BR"/>
						<f:validateDoubleRange minimum="0" />	
					</p:inputText>					

					<p:outputLabel value="Vencimento"/>
					<p:inputText size="60" required="true" label="Vencimento"
							value="#{editaLancamento.lancamentoSelecionado.dataVencimento}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					
					<p:outputLabel value="Pago"/>
					<p:selectOneRadio required="true" label="Situação"
							value="#{editaLancamento.lancamentoSelecionado.pago}">
						<f:selectItem itemLabel="Sim" itemValue="true" />
						<f:selectItem itemLabel="Não" itemValue="false" />
					</p:selectOneRadio>
					
					<p:outputLabel/>
					<p:commandButton value="Atualizar" action="#{editaLancamento.atualizar}" update="@form" />
				</p:panelGrid>
			</h:form>
		</div>
	</h:body>
</html>