<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:lc="http://java.sun.com/jsf/composite/customizados">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Início</title>
	</h:head>
	<h:body>
		<div class="ui-fluid">
			<lc:Menu idx="0" />
			<p:outputPanel>
				<h2>Lançamentos JSF</h2>
				<h4>
					Projeto desenvolvido com JavaServer Faces (JSF) no front-end que 
					consome uma API escrita com <a href="http://sparkjava.com/">Spark Framework</a> e 
					<a href="https://docs.oracle.com/javaee/7/api/javax/persistence/package-summary.html">JPA</a>.
				</h4>
				<p:separator />
				<p>O projeto foi desenvolvido para realização de estudo comparativo entre
					Framework Java (JSF) e JavaScript (React.js), tema de monografia da 
					pós graduação em <i>Desenvolvimento de Sistemas com Java</i>.
				</p>
				<p>A aplicação realiza a consulta, cadastro, atualização e remoção 
					de pessoas e lançamentos financeiros.
				</p>
			</p:outputPanel>
			
			<p:separator />
			<p:outputPanel><h4>Front-end</h4></p:outputPanel>
			
			<div class="ui-g">
				<div class="ui-g-4">
					<p:panel header="JavaServer Faces" style="margin-bottom:20px">
						<h:panelGrid columns="2" cellpadding="10">
							<p:graphicImage value="/imagens/jsf-logo.jpg" width="100"/>
							<h:outputText
								value="Usado para construção das views." />
						</h:panelGrid>
					</p:panel>
				</div>
				<div class="ui-g-4">
					<p:panel header="PrimeFaces" style="margin-bottom:20px">
						<h:panelGrid columns="2" cellpadding="10">
							<p:graphicImage value="/imagens/prime-logo.png" width="100"/>
							<h:outputText
								value="Biblioteca de componentes para o JSF." />
						</h:panelGrid>
					</p:panel>
				</div>
			</div>
			
			<p:separator />
			<p:outputPanel><h4>Back-end</h4></p:outputPanel>
			
			<div class="ui-g">
				<div class="ui-g-4">
					<p:panel header="Spark Framework" style="margin-bottom:20px">
						<h:panelGrid columns="2" cellpadding="10">
							<p:graphicImage value="/imagens/spark-logo.png" width="100"/>
							<h:outputText
								value="Criação das rotas da API, 
								receber as requisições e devolver a resposta." />
						</h:panelGrid>
					</p:panel>
				</div>
				<div class="ui-g-4">
					<p:panel id="basic" header="Java Persistence API" style="margin-bottom:20px">
						<h:panelGrid columns="2" cellpadding="10">
							<p:graphicImage value="/imagens/jpa-imagem.png" width="100"/>
							<h:outputText
								value="Usado na API para interagir com o banco de dados." />
						</h:panelGrid>
					</p:panel>
				</div>
			</div>
			
		</div>
	</h:body>
</html>



